# {{ ansible_managed }}
[Interface]
PrivateKey = {{ wireguard.private_key }}
ListenPort = {{ wireguard.port }}

{% for peer in wireguard.peers %}
[Peer]
# {{ peer.name }}
PublicKey = {{ peer.public_key }}
Endpoint = {{ peer.endpoint }}
AllowedIPs = {{ peer.allowed_ips }}
{% endfor %}
